<div class="row">
<div class="col-md-3">
    <div class="card card-block">
            <h5 class="card-title text-center">User Menu</h5>
            <div class="list-group">
            <a href="#" class="list-group-item" routerLink="profile">Profile</a>  
            <a href="#" class="list-group-item" routerLink="avatar">Avatar</a>   
            <a href="#" class="list-group-item" (click)="logout()">Logout</a>
            </div>
           
    </div>
</div>
<div class="col-md-6 offset-md-1">
        <router-outlet></router-outlet>
</div>
</div>

